.table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
}
.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px;
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  cursor: pointer;
  color: #252F48;
  background: #CAD4D6;
}
button {
  background: #EDB749;
  color: #252F48;
  border-radius: 10%;
  font-size: 14px;
  width: 100px;
}

button:hover {
  cursor: pointer;
  background: #252F48;
  color: #EDB749;
}
